#block {
  display: block;
}

#login-form {
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#login-btn {
  display: block;
  width: 100%;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#register-form {
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#register-btn {
  display: block;
  width: 100%;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#module-item {
  width: 50%;
  margin: auto;
}

.report-card-body {
  height: 500px;
}
.report-card-text {
  font-size: 50px;
}

.report-card {
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.report-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.table-responsive {
  max-height: 500px;
}

thead {
  position: sticky;
  top: -1px;
  background-color: white;
}

.leaflet-container {
  width: 100%;
  height: 250px;
}

#map-div {
  width: 100%;
  margin: auto;
}

#signin-btn {
  display: block;
  width: 100%;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#home-div {
  width: 320px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#bottom-card-text {
  font-size: 13px;
}

.background-red {
  background-color: red;
}

.background-blue {
  background-color: blue;
}

.background-light-grey {
  background-color: #fafafa;
}

.background-purple {
  background-color: #aa77ff;
}

.remove-decoration {
  text-decoration: none;
}

.color-purple {
  color: #aa77ff;
}

.color-dark-blue {
  color: #62cdff;
}

.color-black {
  color: black;
}

.background-light-blue {
  color: #c9eeff;
}

.page-height {
  min-height: 100vh;
}

.hover-cursor:hover {
  cursor: pointer;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

html body{
  background-color: #aa77ff;
}

.color-white {
  color: white;
}

.anseo-page-title {
  color: white;
  font-size: 80px;
}

#signin-form {
  width: 320px;
}